/* f:\projects\template\src\assets\base.css */
/* color palette from <https://github.com/vuejs/theme> */


/* :root {
  --p-button-primary-color: #FFFFFF;
  --p-button-primary-background: #007A33;
  --p-button-primary-border-color: #007A33;
  --p-button-primary-hover-background: #005D27;
  --p-button-primary-active-background: #00401B;

  --p-button-outlined-primary-hover-background: transparent;
  --p-button-outlined-primary-border-color: #007A33;
  --p-button-outlined-primary-color: #007A33;

  --p-icon-size: 1rem;
  --p-form-field-border-radius: var(--p-border-radius-lg);
} */
