body {
  font-family: 'Roboto', sans-serif;
  /* Set Roboto as the default font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ISD Template colors */
:root {
  --green: #0F8C3F;
  --brown: #A87033;
  --yellow-orange: #FFC573;
  --brick-red: #A85B42;
  --blue: #3F5F75;

  --deep-red: #D72638;
  --burnt-orange: #F46036;
  --goldenrod: #E2A03F;
  --forest-green: #3A7D44;
  --bright-blue: #2176AE;

  --teal-blue: #1F5673;
  --royal-purple: #663399;
  --deep-violet: #4E2A84;
  --charcoal-gray: #2B2D42;
  --dark-magenta: #5A189A;

  --midnight-blue: #14213D;
  --electric-indigo: #8A2BE2;
  --muted-blue-gray: #4F5D75;
  --deep-aqua: #005F73;
  --dark-plum: #6A0572;

  --black: #000000;
  --gray: #B0B0B0;
}

:root {
  --p-primary-50: #e6f7ec;
  --p-primary-100: #ccefd9;
  --p-primary-200: #99dfb4;
  --p-primary-300: #66cf90;
  --p-primary-400: #33bf6b;
  --p-primary-500: #007A33;
  /* Updated Primary Color */
  --p-primary-600: #00682c;
  --p-primary-700: #005725;
  --p-primary-800: #00451e;
  --p-primary-900: #003217;
  --p-primary-950: #001d0e;

  --p-surface-0: #ffffff;
  --p-surface-50: #f0f8f4;
  --p-surface-100: #e0ede6;
  --p-surface-200: #c5e0d0;
  --p-surface-300: #a1c4b3;
  --p-surface-400: #8ab09b;
  --p-surface-500: #6e9b8c;
  --p-surface-600: #557b71;
  --p-surface-700: #3f5f59;
  --p-surface-800: #2d4846;
  --p-surface-900: #1b2e2b;
  --p-surface-950: #0d1816;

  --p-active-color: #FCA311;
  --p-content-border-radius: 8px;
}

/* Light Mode */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);

  --p-button-outlined-primary-border-color: var(--p-primary-500);

  --p-form-field-color: var(--p-surface-950);
  --p-form-field-border-color: var(--gray);
}

@theme {
  --color-active: var(--p-active-color);
  --color-green: var(--green);
  --color-brown: var(--brown);
  --color-yellow-orange: var(--yellow-orange);
  --color-brick-red: var(--brick-red);
  --color-blue: var(--blue);
  --color-deep-red: var(--deep-red);
  --color-burnt-orange: var(--burnt-orange);
  --color-goldenrod: var(--goldenrod);
  --color-forest-green: var(--forest-green);
  --color-bright-blue: var(--bright-blue);
  --color-teal-blue: var(--teal-blue);
  --color-royal-purple: var(--royal-purple);
  --color-deep-violet: var(--deep-violet);
  --color-charcoal-gray: var(--charcoal-gray);
  --color-dark-magenta: var(--dark-magenta);
  --color-midnight-blue: var(--midnight-blue);
  --color-electric-indigo: var(--electric-indigo);
  --color-muted-blue-gray: var(--muted-blue-gray);
  --color-deep-aqua: var(--deep-aqua);
  --color-dark-plum: var(--dark-plum);
}
